@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>

<p>Hello, world!</p>
<p>The time on the server is @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</p>